<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd> {{name}}</dd>

  <td>Edad:</td>
  <dd> {{edad}}</dd>

  <td>metodo:</td>
  <dd> {{HeroDescription}}</dd>

  <td>Capitalizando:</td>
  <dd> {{capitalizedName}}</dd>

</dl>

<button
*ngIf="name !== 'spiderman'"
class="btn btn-primary mx-2"
(click)="changenHero()">
  Cambiar Nombre
</button>

<button
*ngIf="edad !== 10"
class="btn btn-primary"
(click)="changeAge()">
  Cambiar Edad
</button>

<button

class="btn btn-primary mx-2"
(click)="resetForm()">
  Reset form
</button>

